[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
GenericName[fr]=Navigateur Web
Comment=Access the Internet
Comment[fr]=Accéder à Internet
Exec=google-chrome-stable %U --disable-features=DownloadBubble,GlobalMediaControls
StartupNotify=false
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[fr]=Nouvelle fenêtre
Exec=google-chrome-stable --disable-features=DownloadBubble,GlobalMediaControls

[Desktop Action new-private-window]
Name=New Incognito Window
Name[fr]=Nouvelle fenêtre de navigation privée
Exec=google-chrome-stable --incognito --disable-features=DownloadBubble,GlobalMediaControls
